<div class="container card">

  <div class="has-text-centered">
    <h1 class="title">
      About Me
    </h1>
  </div>
  <div class="container" id="about">
    <p>
      I am an "Autodidact", which is just a fancy word for self-taught, programmer. I have been working on my craft for about four and a half years at this point. I got my start in programming in college where I learned to program CNC machinery. I then evolved that into arduino programming, and then I jumped headfirst into Linux, and started learning Java. Currently my favorite programming languages, are Kotlin, Ruby, and Java. Rust is closely approaching landing on that list though.
    </p><br>
    <p>
      This is my website where I post about new projects I'm working on, new tools I've found, and all kinds of other things. I'm currently migrating the site from Rails 5.2, to 6.0, so content will be lacking until that transition is done. You can view it's progress, and look at other projects of mine, on my gitlab, <a href="https://gitlab.com/derek52">here.</a>
    </p>
  </div><br>

  <div class="has-text-centered">
    <h1 class="title">
      About My Setup
    </h1>
  </div>
  <div class="container" id="about">
    <p>
      <%= image_tag "my_setup.jpg", :id => "setup-image"%>
    </p>
    <p>
      This is my setup where I develop things, like this very website. I'm running a custom PC, in an ancient Emachine case. I develop on Arch Linux, but my computer also boots elementaryOS, and Windows7. This photo shows my website running in development mode, while I edit my website in my favorite text editor, VIM.
    </p>
  </div>

  <div class="container has-text-centered">
    <h1 class="title">
      About This Site
    </h1>
  </div>
  <div class="container" id="about">
    <p>
      I'm a programmer, and a DIY guy, and this site is no exception. I built this site with Ruby on Rails and host it on a VPS I rent from Linode. The VPS runs Ubuntu 18.04 Bionic Beaver(an amazing OS name). This webpage is served with Nginx+Phusino Passenger. This site would not be possible without these frameworks and applications, and I am proud to give them the credit they are due.
    </p><br>
    <div class="columns">
      <div class="column">
        <a href="https://www.rubyonrails.org" target="_blank">
          <%= image_tag "rails-logo.svg", :id => "about-image" %><br>
          Ruby On Rails
        </a>
      </div>
      <div class="column">
        <a href="https://www.ubuntu.com" target="_blank">
          <%= image_tag "ubuntu_orange_st_hex.png", :id => "about-image" %><br>
          Ubuntu
        </a>
      </div>
      <div class="column">
        <a href="https://www.linode.com" target="_blank">
          <%= image_tag "linode-logo.svg", :id => "about-image" %><br>
          Linode
        </a>
      </div>
      <div class="column">
        <a href="https://nginx.org" target="_blank">
          <%= image_tag "nginx-logo.svg", :id => "about-image" %><br>
          Nginx
        </a>
      </div>
      <div class="column">
        <a href="https://phusionpassenger.com" target="_blank">
          <%= image_tag "passenger-logo.svg", :id => "about-image" %><br>
          Phusion Passenger
        </a>
      </div>
    </div>
  </div><br><br>

  <div class="container has-text-centered">
    <h1 class="title">
      Support this site
    </h1>
    <p>
      Thanks for visiting derektheprogrammer.pizza. Consider buying a slice by sending 0.001 ethereum to the address below.
    </p>
    <p>
      My Ether address: 0x548D34b05915be1F024c60F1a5796AA084A99800
    </p>
  </div>
</div>
