<% @post.downloads.each do |download| %>
  <%= form_for [@post, download] do |f| %>
   <%= f.label :file %>
   <%= f.text_field :file %>
   <%= f.label :description %>
   <%= f.text_field :description %>
   <%= f.submit %>
 <% end %>
<% end  %>
