<%= form_for @download do |f| %>
  <%= f.label :file %>
  <%= f.text_field :file %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.collection_check_boxes :post_ids, Post.all, :id, :title %>
  <%= f.submit %>
<% end %>
