<h1>Download index page</h1>

<% @downloads.each do |download| %>
  <p><%= download.file %></p>
  <p><%= download.description %></p>
  <%= link_to 'Edit', edit_download_path(download) %><hr>
<% end %>
