<%= form_for(@post, url: admin_post_path(@post)) do |f| %>
  <%= f.label :title %><br>
  <%= f.text_field :title %><br>
  <%= f.label :body %><br>
  <div style="background:#FFFFFF;">
  <%= f.label :body %><br>
  <%= f.rich_text_area :body %><br>
  </div>
  <%= f.label :tags %><br>
  <%= f.text_field :tags %><br>
  <%= f.label :category %><br>
  <%= f.text_field :category %><br>
  <%= f.label :published %>
  <%= f.check_box :published %><br>
  <%= f.submit %>
<% end %>

