<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Edit Link</th>
        <th>Delete Link</th>
      </tr>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td>
              <%= post.title %>
            </td>
            <td>
              <%= link_to 'Edit', edit_admin_post_path(post) %>
            </td>
            <td>
              <%= link_to 'Destroy', admin_post_path(post), method: :delete, data: {confirm: 'Delete Post?'} %>
            </td>
          </tr>
        <% end %>
      </tbody>
  </table>
  <p style="background:white;">
    <%= link_to 'New', new_admin_post_path %>
    <p>
</div>
