<div class="container" id="post-index-page">
  <section class="hero is-primary">
    <div class="container has-text-centered">
      <h1 class="title" id="about-title">
        My Musings
      </h1>
    </div>
  </section><br>
  <% @posts.each do |post| %>
    <a href="<%= post_path(post) %>">
      <div class="card" id="post-index-card">
        <div class="card-content">
          <h4 class="title has-text-centered" id="post-index-card-title">
            <%= post.title %>
          </h4>
          <p>
            <%= sanitize post.truncatePost %><hr>
          </p>
          <p>
            <%= post.publishedTime %>
          </p>
        </div>
      </div>
    </a><br>
  <% end  %>
</div>
