<div class="container post-show-page"> 
  <section class="hero is-dark">
    <div class="hero-body">
      <h1 class="title">
        <%= @post.title %>
      </h1>
      <h6 class="subtitle">
        <%= @post.publishedTime %>
      </h6>
    </div>
  </section>
</div>
<div class="container post-show-page" id="post-show-body">
  <%= raw @post.body %>
</div>
