//This is a file for variables I can access in other files
//Comun is spanish for "Common"

$background-color: #0E0816;
$card-background-color: #D5D5D5;
$text-color: #000000;
$link-text-color: $text-color;
$hr-color: $background-color;
$navbar-color: #2F2E2E;
$navbar-text-color: #F5F5F5;

//bulma variables I'm overriding
$dark: #421B9B;
$primary: #66FCF1;

//breakpoints for mediaqueries
$phone-only: 599px;
$tablet-portrait: 600px;
$tablet-landscape: 900px;
$desktop: 1200px;
//$large-desktop: 1800;
