// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "comun";
#post-index-card {
	color: $text-color;
}

#post-show-body {
	padding-left: 1%;
	padding-right: 1%;
	color: $text-color;
	background: $card-background-color;
}
@media (max-width: $phone-only) {
	font-size: medium;
}
