// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "comun";
@media (max-width: $phone-only) {
	html {
		#about-image {
			height: 60px;
		}
	}
}

@media (min-width: $tablet-portrait) {
	#about {
		text-align: center;
	}

	#about-image {
		height: 80px;
	}
}

@media (min-width: $tablet-landscape) {
	#setup-image {
		width: 60%;
	}
}

#about-title {
	color: black;
}

p {
	color: black;
}
