<!DOCTYPE html>
<html>
  <head>
    <title>Derektheprogrammer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <h1>Derektheprogrammer</h1>
        </a>

        <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu" id="navMenu">
        <div class="navbar-end">
          <a class="navbar-item" href="/"> <h1>Home</h1> </a>
          <a class="navbar-item" href="/about"> <h1>About</h1> </a>
        </div>
      </div>

    </nav>
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', () => {
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        if ($navbarBurgers.length > 0) {
          $navbarBurgers.forEach( burgerItem => {

            burgerItem.addEventListener('click', () => {
              const target = burgerItem.dataset.target;
              const $target = document.getElementById(target);
              burgerItem.classList.toggle('is-active');
              $target.classList.toggle('is-active');
            });
          });
        }
      });
    </script>
    <br>
    <%= yield %>
  </body>
</html>
